.prd-btn{
    float:right;
    background-color: #6699cc;
    color:white;
}
.pr-15{
    padding-right:15px;
}

.pb-15{
    padding-bottom :15px;;
}

.container{
	margin-top:11px;
	margin-bottom: 10x;
	margin-left:11px;
	//margin-right:10px;
	//border:1px solid red;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  height:35px;
  float: left;
  width:20%;
  border-radius: 6px;
}

.mt-20{
    margin-top:20px;
}

.pt-margin{
    margin: 0px 10px 10px 10px;
}

#Incentive, #NOS{
    width: 45% !important;
}

.mb-3pt{
    margin-bottom:3%;
}
