<div class="container">
    <p-card header="Incentive Program Structure">
        <div class="row  mt-20">
            <div class="col-md-12">
                <label  class="pr-15">Program Code:</label>
                <p-dropdown [options]="programCodeList" [(ngModel)]="selectedProgramCode" placeholder="Select a Program Code" 
                optionLabel="code" [showClear]="true" (onChange)="ProgramCodeChange($event)"></p-dropdown>
              
            </div>
            </div>
            <div class="row  mt-20">
                <div class="col-md-12">
                    <label class="pr-15">Program Name:</label>
                    
                     <input  type="text"  name="programName" [disabled]="isPrgExists" placeholder="Program Name" 
                     [(ngModel)]="productRule.programName" />
                   
                </div>
            </div>
            <div class="row  mt-20">
                <div class="col-md-12">
               
                    <label class="pr-15">From date:</label>
                     <input type="text"  name="dateFrom"  [disabled]="isPrgExists" placeholder="From date" 
                     [(ngModel)]="productRule.dateFrom" />
                </div>
        </div>
        <div class="row  mt-20">
            <div class="col-md-12">
            
                 <label class="pr-15">To date:</label>
                     <input type="text"  name="dateTo" [disabled]="isPrgExists" placeholder="To date" 
                     [(ngModel)]="productRule.dateTo" />
            </div>
    </div>

            <div class ="row pb-15">
                <div class="col-md-12 btns">
                    <button mat-raised-button class="prd-btn"(click)="showDialog()">Add Product Rule</button>
                 
                </div>
            </div>

            <div class="row">
                <p-table [value]="savedIncentiveList" [paginator]="true" [rows]="5"class="pt-margin">
                    <ng-template pTemplate="header">
                        <tr>
                           
                            <th>Product Type</th>
                            <th>Subproduct Type</th>
                            <th>Sales Type</th>
                            <th>Service Type</th>
                            <th>Recepient</th>
                            <th>No of Services</th>
                            <th>Performance Target</th>
                            <th>Incentive</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-incStructureList>
                        <tr>
                            <td>{{incStructureList.productType}}</td>
                            <td>{{incStructureList.subProductType}}</td>
                            <td>{{incStructureList.productSaleType}}</td>
                            <td>{{incStructureList.contractType}}</td>
                             <td>{{incStructureList.recipient}}</td>
                            <td>{{incStructureList.noOfServices}}</td>
                            <td>{{incStructureList.performanceTarget}}</td>
                            <td>{{incStructureList.incentives}}</td>
                        </tr>
                    </ng-template>
                </p-table>
    
              
            </div>
    </p-card>
    <p-dialog header="Add Product Incentive Structure" [(visible)]="display" [modal]="true" [style]="{width: '80vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
        <div class="row pb-15">
          <div class="col-md-6">
            <label  class="pr-15">Product Type:</label>
            <p-dropdown [options]="productType" [(ngModel)]="selectedProductType" placeholder="Select a Product Type" 
            optionLabel="name" [showClear]="true" ></p-dropdown>
          
          </div>
            <div class="col-md-6">
                <label class="pr-15">Subproduct Type:</label>
                <p-dropdown [options]="subproductType" [(ngModel)]="selectedSubProductType" 
                placeholder="Select a Sub Product Type" optionLabel="name" (onChange)="SubProductChange($event)" [showClear]="true"></p-dropdown>
             
            </div>
          
        </div>
        <div class="row pb-15">
            <div class="col-md-6">
                <label  class="pr-15">Product Sale Type:</label>
                <p-dropdown [options]="productSaleType" [(ngModel)]="selectedproductSaleType" 
                placeholder="Select a product Sale Type" optionLabel="name" [showClear]="true"></p-dropdown>
              
            </div>
            <div class="col-md-6">
                <label  class="pr-15">Sale/Service:
                </label> 
                <p-dropdown [options]="saleService" [(ngModel)]="selectedsaleService" 
                placeholder="Select a Sale/Service" optionLabel="name" [showClear]="true"></p-dropdown>
            
            </div>
        </div>
        <div class="row pb-15">
           
            <div class="col-md-6">
                <label  class="pr-15">Recepient:</label>
                       <p-dropdown [options]="recepient" [(ngModel)]="selectedRecepient" 
                placeholder="Select a Recepient" optionLabel="name" [showClear]="true"></p-dropdown>
            
            </div>
            <div class="col-md-6">
                <!-- <label  class="pr-15">Number of Service:</label>
                <input type="text" id="NOS" [(ngModel)]="productRule.noOfServices" placeholder="Please enter number of service"/>
            -->
            <label  class="pr-15">No of Contracts</label>
            <p-dropdown [options]="noOfContracts" [(ngModel)]="selectedNofContracts"  placeholder="Select No of Services" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>
        </div>
        <div class="row pb-15">
            <div class="col-md-6">
                <label  class="pr-15">Performance Target:
                </label>
                <p-dropdown [options]="performanceTarget" [(ngModel)]="selectedPerformanceTarget" 
                placeholder="Select a performance Target" optionLabel="name" [showClear]="true"></p-dropdown>
            
            </div>
            <div class="col-md-6">
                <label  class="pr-15">Incentive/Contracts:</label>
                <input type="text" id="Incentive" [(ngModel)]="productRule.incentives"placeholder="Please enter incentive"/>
            </div>
          
        </div>

         <p-footer>
            <button mat-raised-button class="prd-btn"(click)="SaveIncentiveStructure()">Save Incentive Structure</button>
            <button mat-raised-button class="prd-btn"(click)="cancelIncentiveStructure()">Cancel</button>
            <!-- <button type="button" pButton class="prd-btn" (click)="display=false" label="Yes"></button>
            <button type="button" pButton class="prd-btn"(click)="display=false" label="No" ></button> -->
        </p-footer>
</p-dialog>

</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>