<div class="container">
    <p-card header="Incentive Program">
        <div class="row mt-20">
            <div class="col-md-6">
                <label  class="pr-15">Program Code:</label>
                <input type="text" name="programCode"[(ngModel)]="product.programCode" placeholder="Program Code"/> 
              
            </div>
            <div class="col-md-6">
                <label  class="pr-15">Payout Frequency:</label>
                <p-dropdown [options]="payoutFrequencyList" [(ngModel)]="product.payoutFrequency" placeholder="Select a Payout Frequency" 
                 [showClear]="true" ></p-dropdown>
              
            </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-12">
                    <label class="pr-15">Program Name:</label>
                  
                     <input type="text"  name="programName" [(ngModel)]="product.programName" placeholder="Program Name"/>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-12">
                    <label class="pr-15">From date:</label>
                    <p-calendar [(ngModel)]="prdFromDate" dateFormat="dd-mm-yy" [showIcon]="true"></p-calendar>
                </div>
           
        </div>
        <div class="row mt-20">
            <div class="col-md-12">
                <label class="pr-15">To date:</label>
                <p-calendar [(ngModel)]="prdToDate" dateFormat="dd-mm-yy" [minDate]="prdFromDate" [showIcon]="true"></p-calendar>
            </div>
       
       
    </div>
    </p-card>
</div>



   
    <div class ="row action-btn">
        <div class="col-md-12 btns">
            <button mat-raised-button  class="mr-15 pr-15 prd-btn" (click)="cancelIncentive()">Cancel</button>
            <button mat-raised-button  class="mr-15 pr-15 prd-btn" (click)="saveIncentive()">Submit</button>
         
        </div>
    </div>
<p-toast [style]="{marginTop: '80px'}"></p-toast>

<!-- <mat-form-field>
    <mat-label>Snack bar duration (seconds)</mat-label>
    <input type="number" [(ngModel)]="durationInSeconds" matInput>
  </mat-form-field> -->