.prd-btn{
    float:right;
    background-color: #6699cc;
    color:white;
}
.pr-15{
    padding-right:15px;
}

.pb-15{
    padding-bottom :15px;;
}

.mr-15{
    margin-right:15px;
}

.yearDropdown{
    margin-left:250px;
}

.container{
	margin-top:11px;
	margin-bottom: 10x;
	margin-left:11px;
	//margin-right:10px;
	//border:1px solid red;
}
.pt-margin{
    margin: 30px 10px 35px 10px;
}


.mt-10{
    margin-top: 10px;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  height:35px;
  float: left;
  width:19%;
  border-radius: 6px;
}

.action-btn{
    margin-right:15%;
}

.btns{
    margin-top:5%;
 }



 .mt-50{
     margin-top:50px
 }

 .tab-margin{
     margin-left:20px;
     margin-right:20px;
 }